.appHeaderContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    position: fixed;
    width: 100vw;
    height: 15vh;
    padding: 1rem .8rem;
    overflow: hidden;
}

.appTitleImg{
    width: 35%;
}

.navContainer{
    display: flex;
    border-bottom: 1px solid white;
    width: 50%;
    color: white;
}

.inputSearchManga{
    color: white;
    background: none;
    border: none;
    outline: none;
    height: fit-content;
    padding: 0 5px;
}

.listContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20vh 1rem;
    background-color: #111111;
    min-height: 100vh;
}