*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

ul{
    list-style: none;
}

.appContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    width: 100vw;
    gap: 1rem;
}

.listItem{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.205);
}

.maxWidth-300{
    max-width: 300px;
}